{% extends 'base.html.twig' %}

{% block title %}Politique Générale de Protection des Données{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<h2 class="pb-5 text-center">Politique générale de protection des données</h2>

<p>La présente Politique Générale de Protection des Données a pour objectif de vous informer sur la manière dont nous collectons, utilisons, partageons et protégeons les données personnelles que vous nous fournissez lorsque vous utilisez notre site web immobilier.</p>

<h4>1. Collecte de données personnelles</h4>

<p>Nous collectons différentes catégories de données personnelles lorsque vous utilisez notre site web, notamment :</p>

<p>Informations d'identification personnelles telles que votre nom, votre adresse e-mail, etc.</p>

<p>Informations de connexion, y compris votre adresse IP, le type de navigateur que vous utilisez, les pages que vous visitez, et les temps d'accès.</p>

<p>Autres informations que vous choisissez de nous fournir, comme des préférences de recherche de biens immobiliers, des commentaires, des avis, etc.</p>

<h4>2. Utilisation des données personnelles</h4>

<p>Nous utilisons vos données personnelles pour les finalités suivantes :</p>

<p>Faciliter la mise en relation entre les particuliers et les professionnels immobiliers pour des locations ou des achats de biens immobiliers.</p>

<p>Améliorer l'expérience utilisateur en personnalisant le contenu et les recommandations en fonction de vos préférences.</p>

<p>Répondre à vos demandes, questions ou commentaires.</p>

<p>Respecter nos obligations légales et réglementaires.</p>

<h4>3. Partage des données personnelles</h4>

<p>Nous pouvons partager vos données personnelles avec les tiers suivants dans le cadre de nos activités :</p>

<p>Les professionnels immobiliers et les particuliers impliqués dans une transaction immobilière.</p>

<p>Les prestataires de services tiers qui nous aident à gérer notre site web, à effectuer des analyses de données, etc.</p>

<p>Les autorités compétentes lorsque cela est requis par la loi.</p>

<p>Nous ne vendons ni ne louons vos données personnelles à des tiers à des fins de marketing.</p>

<h4>4. Sécurité des données</h4>

<p>Nous prenons des mesures de sécurité techniques et organisationnelles appropriées pour protéger vos données personnelles contre les pertes, les accès non autorisés, les divulgations et les altérations.</p>

<h4>5. Vos droits en matière de protection des données</h4>

<p>Vous avez le droit d'accéder à vos données personnelles, de les corriger, de les supprimer, de vous opposer à leur traitement ou de demander leur transfert. Pour exercer ces droits ou poser des questions sur notre politique de protection des données, veuillez nous contacter à hello@pip.fr.</p>

<h4>6. Modifications de la Politique de Protection des Données</h4>

<p>Nous nous réservons le droit de mettre à jour cette Politique de Protection des Données pour refléter les changements dans notre manière de collecter et de traiter les données personnelles. Toute modification sera publiée sur cette page, et la date de révision sera mise à jour en conséquence.</p>

<h4>7. Nous contacter</h4>

<p>Si vous avez des questions ou des préoccupations concernant notre Politique de Protection des Données, veuillez nous contacter à hello@pip.fr.</p>

<p><i>Dernière mise à jour : 7 septembre 2023</i></p>
</div>
{% endblock %}
