{% extends 'base.html.twig' %}

{% block title %}Modifier l'annonce
{% endblock %}

{% block body %}
	<div class="container row m-auto">
		<h1>Modifiez votre annonce</h1>

		{{ include('property/_form.html.twig', {'button_label': 'Modifier ma annonce'}) }}
		{{ include('property/_delete_form.html.twig') }}

	</div>


{% endblock %}
