{% extends 'base.html.twig' %}

{% block title %}Pro Immo Portail | Créer une nouvelle annonce
{% endblock %}

{% block body %}
	<div class="container row m-auto">
		<div class="container my-5">
			<h1 class="text-center">Créer une nouvelle annonce</h1>
			{{ include('property/_form.html.twig') }}
		</div>
	</div>

{% endblock %}
