@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,700;1,300&display=swap");

p,
small,
a,
button,
li {
    font-family: "Mulish", sans-serif, open-sans;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", serif, open-sans;
    font-weight: 400;
}

.bold-mulish {
    font-family: "Mulish", sans-serif, open-sans;
    font-weight: 700;
}

.hero {
    height: 30rem;
}

img {
    object-fit: cover;
}

.property-list {
    margin-top: 5rem;
}

.agency {
    background-color: #f8f9fa;
    height: 18rem;
    /* margin: 10rem 0 20rem 0; */
    margin-bottom: 13rem;
}

.stimulus {
    height: 10rem;
}

.propertyCard:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.purple {
    color: #5e17eb;
}

.btn-purple {
    background-color: #5e17eb;
    color: #fff;
    font-size: 0.9rem;
}

.btn-purple:hover {
    color: #fff;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.cursor-pointer {
    cursor: pointer;
}
