.hero {
    height: 30rem;
}

img {
    object-fit: cover;
}

.property-list {
    margin-top: 5rem;
}

.agency {
    background-color: #f8f9fa;
    height: 18rem;
    /* margin: 10rem 0 20rem 0; */
    margin-bottom: 13rem;
}

.stimulus {
    height: 10rem;
}
<<<<<<< HEAD

.propertyCard:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.purple {
    color: #5e17eb;
}

.cursor-pointer {
    cursor: pointer;
=======
#map {
    height: 180px;
>>>>>>> Add LeafletAPI
}
