{% extends 'base.html.twig' %}

{% block title %}Cookies{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2 class="pb-5 text-center">Politique des cookies</h2>

<p>La présente Politique des cookies a pour but de vous informer sur l'utilisation des cookies sur notre site web immobilier et les options qui s'offrent à vous en ce qui concerne leur gestion.</p>

<h4>1. Qu'est-ce qu'un cookie ?</h4>

<p>Un cookie est un petit fichier texte qui est stocké sur votre ordinateur ou appareil mobile lorsque vous visitez notre site web. Les cookies sont largement utilisés pour améliorer l'expérience de navigation en mémorisant vos préférences et en collectant des informations anonymes sur votre utilisation du site.</p>

<h4>2. Les types de cookies que nous utilisons</h4>

<p>Nous utilisons les types de cookies suivants sur notre site :</p>

<p>Cookies essentiels : Ces cookies sont nécessaires au bon fonctionnement de notre site web. Ils vous permettent de naviguer sur le site et d'utiliser ses fonctionnalités de base.</p>

<p>Cookies de performance : Ces cookies collectent des informations sur la manière dont vous utilisez notre site web, telles que les pages que vous visitez le plus fréquemment. Ces données nous aident à améliorer notre site et à mieux comprendre les besoins de nos utilisateurs.</p>

<p>Cookies de fonctionnalité : Ces cookies permettent au site web de se souvenir de vos choix et préférences, tels que la langue que vous avez sélectionnée ou votre emplacement. Ils contribuent à personnaliser votre expérience.</p>

<p>Cookies de ciblage et de publicité : Nous pouvons utiliser des cookies tiers pour afficher des publicités pertinentes en fonction de vos intérêts et de votre comportement de navigation. Ces cookies peuvent également être utilisés pour mesurer l'efficacité de nos campagnes publicitaires.</p>

<h4>3. Vos options en matière de cookies</h4>

<p>Vous avez le contrôle sur l'acceptation des cookies. Vous pouvez configurer votre navigateur pour refuser tous les cookies ou vous avertir lorsque des cookies sont envoyés. Cependant, veuillez noter que certaines parties de notre site web peuvent ne pas fonctionner correctement si vous désactivez les cookies essentiels.</p>

<h4>4. Modification de la Politique des cookies</h4>

<p>Nous nous réservons le droit de mettre à jour cette Politique des cookies pour refléter les changements dans notre utilisation des cookies ou les exigences légales. Toute modification sera publiée sur cette page, et la date de révision sera mise à jour en conséquence.</p>

<h4>5. Nous contacter</h4>

<p>Si vous avez des questions ou des préoccupations concernant notre Politique des cookies ou notre utilisation des cookies, veuillez nous contacter à l'adresse hello@pip.fr.</p>

<p>En continuant à utiliser notre site web, vous consentez à l'utilisation des cookies conformément à cette Politique des cookies.</p>

<p><i>Dernière mise à jour : 7 septembre 2023</i></p>
</div>
{% endblock %}
