{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2 class="pb-5 text-center">Conditions générales d'utilisation du site Pro Immo Portail</h2>

<h4>ARTICLE 1 : Objet</h4>

<p>Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique de l’utilisation du site Pro Immo Portail et de ses services.</p>

<p>Ce contrat est conclu entre :</p>

<p>Le gérant du site internet, ci-après désigné « l’Éditeur »,</p>

<p>Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».</p>

<p>Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.</p>


<h4>ARTICLE 2 : Mentions légales</h4>

<p>Pour les personnes morales :</p>

<p>La société est représentée par Havaic Marija et Parsonneau Aurélie.</p>

<p>Pour les personnes physiques : </p>

<p>Le site Pro Immo Portail est édité par Havaic Marija et Parsonneau Aurélie.</p>

<h4>ARTICLE 3 : accès aux services</h4>

<p>L’Utilisateur du site Pro Immo Portail a accès aux services suivants :</p>

<ul>
<li>La possibilité de se constituer un compte personnel au travers duquel l'Utilisateur aura notamment la possibilité d'accéder aux offres de vente / location de biens immobiliers correspondant à des critères de recherches particuliers qu'il aura sélectionnés au préalable. Ce service permet également de recevoir par courrier électronique les nouvelles offres de vente / location de biens immobiliers correspondant aux critères sélectionnés par l'Utilisateur.
En créant un compte personnel, l'Utilisateur dispose d'un identifiant unique et d'un mot de passe strictement personnels, qu'il s'engage à conserver confidentiels et à ne pas transmettre à des tiers.
L'Utilisateur est seul autorisé à accéder et utiliser les Services à l'aide de son identifiant unique et de son mot de passe.
Tout accès au compte personnel de l'Utilisateur avec son identifiant unique et son mot de passe est réputé de plein droit avoir été effectué par l'Utilisateur.
De même que l'accès aux Services avec ces identifiant et mot de passe s'effectue sous la seule responsabilité de l'Utilisateur.
Dès lors, en cas de perte, de vol ou tout acte frauduleux à l'égard de son identifiant unique et de son mot de passe, l'Utilisateur doit en informer la Société dans les plus brefs délais et justifier à cette occasion de son identité par tous moyens.
A réception de sa notification dûment justifiée, la Société adressera à l'Utilisateur un nouvel identifiant et mot de passe, à charge pour lui de les conserver strictement confidentiels.</li>
<li>Visualisation d'offres de vente et / location de biens immobiliers </li>
<li>Mise en ligne d'annonces de biens immobiliers (réservé aux utilisateurs professionnels de l'immobilier)</li>
</ul>

<p>Tout Utilisateur ayant accès a internet peut accéder gratuitement et depuis n’importe où au site. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.</p>

<p>Les services suivants ne sont accessible pour l’Utilisateur que s’il est membre du site (c’est-à-dire qu’il est identifié à l’aide de ses identifiants de connexion) :</p>
<ul>
<li>Mise en favoris des annonces de biens immobiliers</li></ul>

<p>Les services suivants ne sont accessible pour l’Utilisateur que s’il est membre du site et identifié comme professionnel :</p>
<ul>
<li>Mise en ligne d'annonces de biens immobiliers</li></ul>

<p>Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.</p>

<h4>ARTICLE 4 : Responsabilité de l’Utilisateur</h4>

<p>L'Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe. </p>

<p>Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation de mot de passe, l’Éditeur décline toute responsabilité.</p>

<p>L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur le site Pro-Immo-Portail.</p>

<p>Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site.</p>

<h4>ARTICLE 5 : Responsabilité de l’Éditeur</h4>

<p>Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.</p>

<p>De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>

<p>Le site Pro-Immo-Portail s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.</p>

<p>L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées su le site soient réputées fiables.</p>

<h4>ARTICLE 6 : Propriété intellectuelle</h4>

<p>Les contenus du site Pro Immo Portail (logos, textes, éléments graphiques, vidéos, etc.) son protégés par le droit d’auteur, en vertu du Code de la propriété intellectuelle.</p>

<p>L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus.</p>

<p>Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ; tout usage commercial est interdit.</p>

<p>L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte à un tiers.</p>

<p>L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en ligne par les utilisateurs, et ce sans justification.</p>

<h4>ARTICLE 7 : Données personnelles</h4>

<p>L’Utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le site. </p>

<p>L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site Pro Immo Portail pour la communication d’informations diverses et la gestion du compte.</p>

<p>Pro Immo Portail garantie le respect de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>

<p>Le site est déclaré auprès de la CNIL sous le numéro suivant : [numéro].</p>

<p>En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via :</p>
<ul>
<li>Son espace personnel sur le site ;</li>
<li>Un formulaire de contact ;</li>
<li>Par mail à hello@pip.fr ;</li>
</ul>

<h4>ARTICLE 8 : Liens hypertextes</h4>

<p>Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité de l’Éditeur de Pro Immo Portail, qui n’a pas de contrôle sur ces liens.</p>

<p>Il est possible pour un tiers de créer un lien vers une page du site Pro Immo Portail sans autorisation expresse de l’éditeur.</p>


<h4>ARTICLE 9 : Évolution des conditions générales d’utilisation</h4>

<p>Le site Pro Immo Portail se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.</p>


<h4>ARTICLE 10 : Durée du contrat</h4>

<p>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.</p>


<h4>ARTICLE 11 : Droit applicable et juridiction compétente</h4>

<p>Le présent contrat dépend de la législation française. </p>
<p>En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux de Nanterre sont compétents pour régler le contentieux.</p>


</div>
{% endblock %}
